.df-footer {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .fa-facebook{
        margin: 10px;
        padding: 10px;
    }
    .fa-instagram{
        margin: 10px;
        padding: 10px;
    }
    .fa-whatsapp{
        margin: 10px;
        padding: 10px;
    }
  }