@import './reset';
@import './variables';
@import './navbar';
@import './index';
@import './areas';
@import './contacto';
@import './extrajudiciales';
@import './turnos';

portada{
    .titulo{
        font-weight: normal;
        text-align: center;
        margin: 20px;
        padding: 20px;
        font-weight: bolder;
        font-size: xx-large;
    }
    .subtitulo{
        font-weight: normal;
        text-align: center;
        font-size: x-large;
    }
}