.extrajudiciales {
    background-color: $background-negro;
    color: $color-texto;

    .titulo-extrajudiciales {
        height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0px;
    }
}

.contenedor-parrafo-reclamos {
    display: flex;
    justify-content: center;
    background-color: $background-negro;
    color: $color-texto;



    .parrafo-reclamos {
        text-align: center;
        font-size: larger;
        width: 600px;
        height: 300px;
        display: flex;
        align-items: flex-end;
    }
}


.contenedor-formulario-reclamos {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "completa-los-datos completa-los-datos completa-los-datos"
        "titular tercero siniestro";
    background-image:url(../../imagenes/imagen-transito.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-texto;

    .completa-los-datos {
        grid-area: completa-los-datos;
        display: flex;
        justify-content: center;
        margin: 30px;
        padding: 30px;
    }

    .titular {
        grid-area: titular;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .titulo-titular{
            margin: 15px;
            padding: 15px;
        }
        .nombre-y-apellido{
            margin: 7px;
            padding: 7px;
        }
        .dominio-titular{
            margin: 7px;
            padding: 7px;
        }
        .seguro-titular{
            margin: 7px;
            padding: 7px;
        }
    }

    .tercero {
        grid-area: tercero;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .titulo-tercero{
            margin: 15px;
            padding: 15px;
        }
        .nombre-y-apellido-tercero{
            margin: 7px;
            padding: 7px;
        }
        .dominio-tercero{
            margin: 7px;
            padding: 7px;
        }
        .seguro-tercero{
            margin: 7px;
            padding: 7px;
        }
    }

    .siniestro {
        grid-area: siniestro;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:auto;
        .titulo-siniestro{
            margin: 15px;
            padding: 15px;
        }
        .button, input, optgroup, select, textarea{
            width: 300px;
        }
        .fecha{
            margin: 7px;
            padding: 7px;
        }
        .lugar{
            margin: 7px;
            padding: 7px;
        }
    }
}

.contenedor-docu{
    display: flex;
    flex-direction: column;
    align-items: center;
    .carga-docu{
        margin: 15px;
        padding: 15px;
    }
    .mb-3{
        width: 600px;
        margin: 15px;
        padding: 15px;
    }
}

.contenedor-enviar-datos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .eviar-datos{
        margin: 10px;
    }
    .borrar-campos{
        margin: 10px;
    }
}